.nav-comp nav {
    background-color: var(--black) !important;
}

.nav-comp nav div ul li a {
    color: var(--white) !important;
    font-size: 1.15rem;
    margin-left: 6px;
}

.nav-comp .navbar-collapse {
    justify-content: flex-end;
    margin-right: 30px;
    margin-left: 20px;
}

@media (min-width: 992px) {
    .nav-comp .nav-link {
        padding: 5px .1rem !important;
        border-bottom: 1px solid var(--white) !important;
    }
    .nav-comp .nav-link:hover {
        border-color: var(--yellow) !important;
        color: var(--yellow) !important;
    }
}

@media (max-width: 500px) {
    .nav-comp .navbar-brand img {
        width: 241px !important;
        height: 39px !important;
    }
}

.nav-comp .modal-body {
    background-color: var(--black);
}

.nav-comp .modal-body form {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.nav-comp .modal-body .img {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    margin-top: 10px;
}

.modal-content{
    height: 350px;

}

.nav-comp .modal-body img {
    width: 290px;
    height: 50px;
}

.nav-comp .modal-body input {
    background-color: rgb(58, 58, 58);
    color: white;
    border-color: black;
}

::-webkit-input-placeholder {
    color: white !important;
    background-color: rgb(58, 58, 58);
    font: 12px verdana, arial, sans-serif;
}

.nav-comp .modal-body input:hover {
    background-color: rgb(58, 58, 58);
    color: white;
}

.nav-comp form label{
    color: var(--white);
}
.nav-comp .form-check{
    margin-top: 20px;
}

.nav-comp .form-check input{
    margin-top: 6px;
}
.nav-comp .home-icon {
    margin-bottom: 2px;
}
