.posts .conteudo-topo {
    min-height: 200px;
    position: relative;
    margin-bottom: 40px
}

.posts .titulo {
    position: absolute;
    width: 100%;
    top: 55%;
    transform: translate(0, -50%);
    padding: 12px 25px;
    font-weight: 900;
    color: var(--white);
    background-color: rgba(0, 0, 0, .5);
    font-size: 3.0rem;
    line-height: 1.15;
    color: #f8f9fa!important;
}

@media(max-width:700px) {
    .posts .titulo {
        font-size: 2rem !important;
    }
}

@media(max-width:600px) {
    .posts .titulo {
        font-size: 1.5rem !important;
    }
}

.posts .relacionados {
    margin-right: auto;
    margin-left: auto;
}

.posts .card {
    width: 18rem;
    padding: 0;
}

@media(max-width:576px) {
    .posts .card {
        width: max-content;
        margin-right: auto !important;
        margin-left: auto !important;
        margin-bottom: 12px;
    }
}

.posts .titulo-relacionados {
    padding-top: 60px !important;
    padding-bottom: 30px !important;
}

@media(max-width:400px) {
    .posts .conteudo-topo .fundo {
        width: 400px;
        height: 200px;
        background-image: url("https://picsum.photos/400/200");
    }
}

@media(min-width:401px) {
    .posts .conteudo-topo .fundo {
        width: 600px;
        height: 300px;
        background-image: url("https://picsum.photos/600/300");
    }
}

@media(min-width:600px) {
    .posts .conteudo-topo .fundo {
        width: 800px;
        height: 300px;
        background-image: url("https://picsum.photos/800/400");
    }
}

@media(min-width:800px) {
    .posts .conteudo-topo .fundo {
        width: 800px;
        height: 400px;
        background-image: url("https://picsum.photos/800/400");
    }
}

.posts .conteudo-topo{
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}