:root {
    --black: #090909;
    --yellow: #fde74c;
    --orange: #f58549;
    --red: #a4031f;
    --white: #fffaff;
}

body {
    width: 100% !important;
    background-color: var(--white);
    position: relative
}

html, body, #root {
    height: 100%;
    overflow-x: hidden;
}

a {
    font-family: 'Roboto', sans-serif !important;
}

h1, h2, h3, p {
    font-family: 'Roboto Slab', sans-serif !important;
}

h3 {
    margin-bottom: 11px;
}

p {
    font-weight: 300!important;
    font-size: 1.2em;
    line-height: 1.62;
    color: #555;
    margin-bottom: 11px;
}

h3 {
    font-size: 2em;
    font-weight: 400!important;
    color: rgb(41, 40, 40);
    margin-top: 30px;
}

strong {
    color: rgb(53, 52, 52);
    font-weight: 600;
}

/************container conteúdo**************/

@media(min-width: 882px) {
    .conteudo {
        width: 100%;
        max-width: 760px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width: 991px) {
    .conteudo {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
}

.conteudo {
    /* background-color: white !important; */
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.botao {
    cursor: pointer;
}

.text-area {
    resize: none;
}

@media(min-width: 992px) {
    .botao-animacao:hover {
        animation-name: animacao-botao-hover;
        animation-duration: .8s;
    }
}

.botao-foco:hover {
    animation-name: animacao-foco-hover;
    animation-duration: .8s;
    animation-fill-mode: forwards;
}

@keyframes animacao-botao-hover {
    0% {
        transform: rotate(0);
    }
    15% {
        transform: rotate(4deg);
    }
    30% {
        transform: rotate(-4deg);
    }
    45% {
        transform: rotate(3deg);
    }
    60% {
        transform: rotate(-3deg);
    }
    75% {
        transform: rotate(2deg);
    }
    90% {
        transform: rotate(-2deg);
    }
}

@keyframes animacao-foco-hover {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
   
}